# Puerto del servidor
PORT=3000

# Entorno (development, production)
NODE_ENV=development

# URI de conexión de Postgres. ¡No usar el connection pool de IPv4 (ej: port 6543) sino el directo o el string correcto para Drizzle!
DATABASE_URL=postgresql://postgres.[tu_project_ref]:[tu_password]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres

# Configuración de Supabase para validación de tokens o uso del cliente admin
SUPABASE_URL=https://[tu_project_ref].supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJh...
